header.header
    .header__column
        i.fab.fa-youtube
    .header__column <!-- <head> 컬럼이라고 보면되는데 여러개 사용 가능? -->
        form(action=routes.search, method="get")
            input(type="text", placeholder="Search by term...", name="term")
    .header__column
        ul
            if !user.isAuthenticated
                li
                    a(ref=routes.join) Join
                li
                    a(ref=routes.login) Log In
            else
                li
                    a(href=`/videos${routes.upload}`) Upload
                li
                    a(href=routes.userDetail(user.id)) Profile
                li
                    a(href=routes.logout) Log Out